
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Advent of Code 2025</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <img src="/headers/<!-- HEADER -->" alt="Advent of Code 2025" class="header" />

    <h1>Advent of Code 2025</h1>

    <div class="grid">
        <!-- FOLDERS -->
    </div>


</div>
</body>
</html>
